<div>
    <div class="container-fluid">
        <h1>My Studies</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>What can I do here?</h4>
                <div ng-show="mode === 'overview'">
                    <div class="cheetah-section-description">This area lets you manage all your studies. Whenever you would
                        like to perform an empirical investigation with pupillometric analysis, you should create a new
                        study and <a href="subject-management.htm">assign subjects</a> to it. This will
                        help you manage all your data in the future.
                    </div>
                    <div id="cheetah-study-management-button-container" class="clearfix">
                        <button id="cheetah-study-management-add-button" class="btn btn-default"
                                ng-click="openAddStudyDialog()">
                            Add Study
                        </button>
                        <button class="btn btn-default" ng-click="showDataProcessing()">
                            Define Data Processing
                        </button>
                        <button id="cheetah-study-management-delete-button" class="btn btn-default"
                                ng-click="deleteStudy()">
                            Delete Study
                        </button>
                    </div>

                    <table class="table table-hover table-search">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="study in studies" ng-class="study.id===selection.id ? 'alert-success' : ''"
                            ng-click="setSelection(study)">
                            <td>{{study.name}}</td>
                            <td>{{study.comment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="mode === 'data_processing'">
                    data processing goes here.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addStudyDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Study</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="container-fluid">
                    <form data-toggle="validator" id="#addStudyForm" role="form"
                          ng-submit="submitNewStudy()">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please enter a name and an optional comment for the new
                                    study.</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div><label for="study-name">Study name</label></div>
                                    <div><input class="form-control" type="text" id="study-name" ng-model="newStudyName"
                                                required></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <div><label for="study-comment">Comment</label></div>
                                    <div><input class="form-control" type="text" id="study-comment"
                                                ng-model="newStudyComment">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="submitNewStudy" class="btn btn-primary">Add Study
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-test-modal" ng-controller="TestController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Study</h4>
            </div>
            <div class="modal-body container-fluid">
                {{content}}

                <button ng-click="close()">buttonski</button>
            </div>
        </div>
    </div>
</div>