<div>
    <div class="container-fluid">
        <h1>My Studies</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-show="mode === 'overview'" ng-controller="StudyOverviewController">
                    <h4>What can I do here?</h4>
                    <div class="cheetah-section-description">This area lets you manage all your studies. Whenever you
                        would
                        like to perform an empirical investigation with pupillometric analysis, you should create a new
                        study and <a href="subject-management.htm">assign subjects</a> to it. This will
                        help you manage all your data in the future.
                    </div>
                    <div id="cheetah-study-management-button-container" class="clearfix">
                        <button id="cheetah-study-management-add-button" class="btn btn-default"
                                ng-click="openAddStudyDialog()">
                            Add Study
                        </button>
                        <button class="btn btn-default" ng-click="showDataProcessing()"
                                ng-disabled="selection.id === -1">
                            Define Data Processing
                        </button>
                        <button id="cheetah-study-management-delete-button" class="btn btn-default"
                                ng-click="deleteStudy()">
                            Delete Study
                        </button>
                    </div>

                    <table class="table table-hover table-search">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="study in studies" ng-class="study.id===selection.id ? 'alert-success' : ''"
                            ng-click="setSelection(study)">
                            <td>{{study.name}}</td>
                            <td>{{study.comment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="mode === 'data_processing'" ng-controller="DataProcessingController"
                     class="cheetah-data-processing-container">
                    <button class="btn btn-default" ng-click="showOverview()">
                        Back to Studies
                    </button>
                    <h4>Define Data Processing of Study '{{study.name}}'</h4>
                    <div class="cheetah-section-description">This area lets you manage the data processing of this
                        study.
                    </div>
                    <div>
                        <div ng-show="study.dataProcessing.length > 0">
                            <p>The following steps have been defined for data processing:</p>
                        </div>
                        <div ng-show="study.dataProcessing.length === 0">
                            <p>No data processing steps have been defined yet. Please use the button below to add new
                                data processing routines.</p>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default" ng-repeat="dataProcessing in study.dataProcessing">
                                <div class="panel-heading">
                                    <div class="cheetah-data-processing-buttons">
                                        <span class="icon-cheetah-close"
                                              ng-click="deleteDataProcessing(dataProcessing)"></span>
                                    </div>
                                    <h4 class="panel-title">
                                        <a href="#cheetah-data-processing{{dataProcessing.id}}" data-toggle="collapse">{{dataProcessing.name}}</a>
                                    </h4>
                                </div>
                                <div id="cheetah-data-processing{{dataProcessing.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="cheetah-data-processing-columns-container">
                                            <span><strong>Timestamp Column:</strong> {{dataProcessing.timestampColumn}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                            <span><strong>Left Pupil Column:</strong> {{dataProcessing.leftPupilColumn}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                            <span><strong>Right Pupil Column:</strong> {{dataProcessing.rightPupilColumn}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                            <span><strong>Decimal Separator:</strong> {{dataProcessing.decimalSeparator}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                        </div>

                                        <div class="cheetah-data-processing-trial-computation-container">
                                            <span><strong>Trial computation:</strong> {{getTrialProcessingLabel(dataProcessing)}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditTrialComputationModal(dataProcessing)"> </span><br></span>
                                        </div>

                                        <ul class="list-group" ng-show="dataProcessing.steps.length > 0">
                                            <li class="list-group-item" ng-repeat="step in dataProcessing.steps">Step
                                                {{$index + 1}} ({{step.type}}): {{step.name}}<span
                                                        class="icon-cheetah-close cheetah-delete-dataprocessing-step"
                                                        ng-click="deleteDataProcessingStep(dataProcessing, step)"> </span>
                                                <!--       <span
                                                               class="icon-cheetah-edit cheetah-delete-dataprocessing-step"
                                                               ng-click="showEditDataProcessingStepModal(step)"> </span>-->
                                            </li>
                                        </ul>
                                        <p ng-show="dataProcessing.steps.length === 0">
                                            For this data processing, no steps have been defined yet. Please use the
                                            button below for adding new steps.
                                        </p>

                                        <div>
                                            <button class="btn btn-default"
                                                    ng-click="showAddDataProcessingStepModal(dataProcessing)">Add Step
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-default" ng-click="showAddDataProcessingModal()">Add Data Processing
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addStudyDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Study</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="container-fluid">
                    <form data-toggle="validator" id="#addStudyForm" role="form"
                          ng-submit="submitNewStudy()">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please enter a name and an optional comment for the new
                                    study.</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div><label for="study-name">Study name</label></div>
                                    <div><input class="form-control" type="text" id="study-name" ng-model="newStudyName"
                                                required></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <div><label for="study-comment">Comment</label></div>
                                    <div><input class="form-control" type="text" id="study-comment"
                                                ng-model="newStudyComment">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="submitNewStudy" class="btn btn-primary">Add Study
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-add-data-processing-modal" ng-controller="AddDataProcessingModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Data Processing</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" id="addStudyForm" role="form">
                    <div class="form-group">
                        <div><label for="study-name">Name</label></div>
                        <div><input class="form-control" type="text" ng-model="name"
                                    placeholder="The name of the data processing" required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-comment">Comment</label></div>
                        <div><textarea class="form-control" ng-model="comment" rows="5"
                                       placeholder="Short comment on the data processing"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Timestamp Column</label></div>
                        <div><input class="form-control" type="text" ng-model="timestampColumn"
                                    placeholder="The name of the column in which the timestamp can be found" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Left Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="leftPupilColumn"
                                    placeholder="The name of the column in which the size of the left pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Right Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="rightPupilColumn"
                                    placeholder="The name of the column in which the size of the right pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Decimal Separator</label></div>
                        <div><input class="form-control" type="text" ng-model="decimalSeparator"
                                    placeholder="The decimal separator to be used in the output files"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="addDataProcessing()">Add</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="cheetah-add-data-processing-step-modal" ng-controller="AddDataProcessingStepModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Data Processing Step</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" role="form">
                    <div class="form-group">
                        <div><label>Name</label></div>
                        <div><input class="form-control" type="text" ng-model="name"
                                    placeholder="Short description of the processing step"></div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="radio" ng-model="type" value="clean"> Clean Data
                        </label><br>
                        <label>
                            <input type="radio" ng-model="type" value="analyze"> Analyze Data
                        </label><br>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="addDataProcessingStep()">Continue</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-edit-data-processing-modal" ng-controller="EditDataProcessingModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Data Processing</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" role="form">
                    <div class="form-group">
                        <div><label for="study-name">Timestamp Column</label></div>
                        <div><input class="form-control" type="text" ng-model="timestampColumn"
                                    placeholder="The name of the column in which the timestamp can be found" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Left Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="leftPupilColumn"
                                    placeholder="The name of the column in which the size of the left pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Right Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="rightPupilColumn"
                                    placeholder="The name of the column in which the size of the right pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Decimal Separator</label></div>
                        <div><input class="form-control" type="text" ng-model="decimalSeparator"
                                    placeholder="The decimal separator to be used in the output files"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="saveDataProcessing()">Save</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-select-pupillometry-file-modal" ng-controller="SelectPupillometryFileModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select File</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" role="form">
                    <p>To help with the definition of the data processing, CEP-Web will parse one of your data files to
                        support the selection of the proper trial computation. Please select the file below that you
                        want to parse.</p>
                    <div class="form-group">
                        <div ng-repeat="file in files">
                            <label>
                                <input type="radio" name="selectedFile"
                                       ng-model="$parent.selectedFile.id"
                                       value="{{file.id}}"/>
                                {{file.name}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="showScenes()">OK</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-prepare-pupillometry-file-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Preparing File</h4>
            </div>
            <div class="modal-body container-fluid">
                <p>CEP-Web is now preparing your file. Please stand by, this could take some seconds.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Preparing...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div ng-include="'angular/clean-data/clean-data.htm'"></div>

