<div>
    <div class="container-fluid">
        <h1>My Studies</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-show="mode === 'overview'" ng-controller="StudyOverviewController">
                    <h4>What can I do here?</h4>
                    <div class="cheetah-section-description">This area lets you manage all your studies. Whenever you
                        would
                        like to perform an empirical investigation with pupillometric analysis, you should create a new
                        study and <a href="subject-management.htm">assign subjects</a> to it. This will
                        help you manage all your data in the future.
                    </div>
                    <div id="cheetah-study-management-button-container" class="clearfix">
                        <button id="cheetah-study-management-add-button" class="btn btn-default"
                                ng-click="openAddStudyDialog()">
                            Add Study
                        </button>
                        <button class="btn btn-default" ng-click="showDataProcessing()"
                                ng-disabled="selection.id === -1">
                            Define Data Processing
                        </button>
                        <button id="cheetah-study-management-delete-button" class="btn btn-default"
                                ng-click="deleteStudy()">
                            Delete Study
                        </button>
                    </div>

                    <table class="table table-hover table-search">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="study in studies" ng-class="study.id===selection.id ? 'alert-success' : ''"
                            ng-click="setSelection(study)">
                            <td>{{study.name}}</td>
                            <td>{{study.comment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="mode === 'data_processing'" ng-controller="DataProcessingController"
                     class="cheetah-data-processing-container">
                    <button class="btn btn-default" ng-click="showOverview()">
                        Back to Studies
                    </button>
                    <h4>Define Data Processing of Study '{{study.name}}'</h4>
                    <div class="cheetah-section-description">This area lets you manage the data processing of this
                        study.
                    </div>
                    <div>
                        <div ng-show="study.dataProcessing.length > 0">
                            <p>The following steps have been defined for data processing:</p>
                        </div>
                        <div ng-show="study.dataProcessing.length === 0">
                            <p>No data processing steps have been defined yet. Please use the button below to add new
                                data processing routines.</p>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default" ng-repeat="dataProcessing in study.dataProcessing">
                                <div class="panel-heading">
                                    <div class="cheetah-data-processing-buttons">
                                        <span class="icon-cheetah-close"
                                              ng-click="deleteDataProcessing(dataProcessing)"></span>
                                    </div>
                                    <h4 class="panel-title">
                                        <a href="#cheetah-data-processing{{dataProcessing.id}}" data-toggle="collapse">{{dataProcessing.name}}</a>
                                    </h4>
                                </div>
                                <div id="cheetah-data-processing{{dataProcessing.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="cheetah-data-processing-columns-container">
                                            <span><strong>Timestamp Column:</strong> {{dataProcessing.timestampColumn}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                            <span><strong>Left Pupil Column:</strong> {{dataProcessing.leftPupilColumn}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                            <span><strong>Right Pupil Column:</strong> {{dataProcessing.rightPupilColumn}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                            <span><strong>Decimal Separator:</strong> {{dataProcessing.decimalSeparator}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditDataProcessingColumnsModal(dataProcessing)"> </span><br></span>
                                        </div>

                                        <div class="cheetah-data-processing-trial-computation-container">
                                            <span><strong>Trial computation:</strong> {{getTrialProcessingLabel(dataProcessing)}} <span
                                                    class="icon-cheetah-edit cheetah-edit-data-processing-columns-button"
                                                    ng-click="showEditTrialComputationModal(dataProcessing)"> </span><br></span>
                                        </div>

                                        <p ng-show="dataProcessing.steps.length === 0">
                                            For this data processing, no steps have been defined yet. Please use the
                                            button below for adding new steps.
                                        </p>
                                        <div ng-show="getStepsForType(dataProcessing,'clean').length > 0">
                                            <p><strong>Cleaning Steps:</strong></p>
                                            <ul class="list-group">
                                                <li class="list-group-item"
                                                    ng-repeat="step in getStepsForType(dataProcessing,'clean')">Step
                                                    {{$index + 1}}: {{step.name}}<span
                                                            class="icon-cheetah-close cheetah-delete-dataprocessing-step"
                                                            ng-click="deleteDataProcessingStep(dataProcessing, step)"> </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div ng-show="getStepsForType(dataProcessing,'analyze').length > 0">
                                            <p><strong>Analyze Steps:</strong></p>
                                            <ul class="list-group">
                                                <li class="list-group-item"
                                                    ng-repeat="step in getStepsForType(dataProcessing,'analyze')">Step
                                                    {{$index + 1}}: {{assembleStepName(step)}}<span
                                                            class="icon-cheetah-close cheetah-delete-dataprocessing-step"
                                                            ng-click="deleteDataProcessingStep(dataProcessing, step)"> </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div>
                                            <button class="btn btn-default"
                                                    ng-click="showAddDataProcessingStepModal(dataProcessing)">Add Step
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-default" ng-click="showAddDataProcessingModal()">Add Data Processing
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-add-analyze-step-modal" ng-controller="AddAnalyzeStepModalController" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Analyze Step</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="container-fluid">
                    <form data-toggle="validator" role="form">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please define the analysis below.</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div><label>Computation</label></div>
                                    <select class="form-control" ng-model="computation" ng-change="updateAnalyzeType()"
                                            ng-options="computation.name for computation in computations">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div><label>Type</label></div>
                                    <select class="form-control" ng-model="type" ng-change="updateAnalyzeType()"
                                            ng-options="type.name for type in types">
                                    </select>
                                </div>
                                <span><strong>Description of this computation:</strong></span>
                                <p class="cheetah-analyze-step-description">{{analyzeType.description}}</p>

                                <div class="form-group cheetah-analyze-step-time">
                                    <div><label>Start Time</label></div>
                                    <label>
                                        <input type="radio" name="startTime" ng-model="startTime"
                                               value="startWithStimulus">
                                        Start with stimulus onset
                                    </label>
                                    <br>
                                    <label>
                                        <input type="radio" name="startTime" ng-model="startTime"
                                               value="startAfterDuration">
                                        Start milliseconds after stimulus onset:
                                    </label>
                                    <input type="text"ng-disabled="startTime === 'startWithStimulus'" ng-model="startTimeOffset">
                                </div>

                                <div class="form-group cheetah-analyze-step-time">
                                    <div><label>End Time</label></div>
                                    <label>
                                        <input type="radio" name="endTime" ng-model="endTime" value="endWithStimulus">
                                        End with stimulus
                                    </label>
                                    <br>
                                    <label>
                                        <input type="radio" name="endTime" ng-model="endTime" value="endAfterDuration">
                                        End milliseconds after stimulus onset:
                                    </label>
                                    <input type="text" ng-disabled="endTime === 'endWithStimulus'"  ng-model="endTimeOffset">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="submit" class="btn btn-primary" ng-click="addAnalyzeStep()">Add Step</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addStudyDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Study</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="container-fluid">
                    <form data-toggle="validator" id="#addStudyForm" role="form"
                          ng-submit="submitNewStudy()">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Please enter a name and an optional comment for the new
                                    study.</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div><label for="study-name">Study name</label></div>
                                    <div><input class="form-control" type="text" id="study-name" ng-model="newStudyName"
                                                required></div>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <div><label for="study-comment">Comment</label></div>
                                    <div><input class="form-control" type="text" id="study-comment"
                                                ng-model="newStudyComment">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" id="submitNewStudy" class="btn btn-primary">Add Study</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-add-data-processing-modal" ng-controller="AddDataProcessingModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Data Processing</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" id="addStudyForm" role="form">
                    <div class="form-group">
                        <div><label for="study-name">Name</label></div>
                        <div><input class="form-control" type="text" ng-model="name"
                                    placeholder="The name of the data processing" required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-comment">Comment</label></div>
                        <div><textarea class="form-control" ng-model="comment" rows="5"
                                       placeholder="Short comment on the data processing"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Timestamp Column</label></div>
                        <div><input class="form-control" type="text" ng-model="timestampColumn"
                                    placeholder="The name of the column in which the timestamp can be found" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Left Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="leftPupilColumn"
                                    placeholder="The name of the column in which the size of the left pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Right Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="rightPupilColumn"
                                    placeholder="The name of the column in which the size of the right pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Decimal Separator</label></div>
                        <div><input class="form-control" type="text" ng-model="decimalSeparator"
                                    placeholder="The decimal separator to be used in the output files"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="addDataProcessing()">Add</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="cheetah-add-data-processing-step-modal" ng-controller="AddDataProcessingStepModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Data Processing Step</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" role="form">
                    <div class="form-group">
                        <div><label>Name</label></div>
                        <div><input class="form-control" type="text" ng-model="name"
                                    placeholder="Short description of the processing step"></div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="radio" ng-model="type" value="clean"> Clean Data
                        </label><br>
                        <label>
                            <input type="radio" ng-model="type" value="analyze"> Analyze Data
                        </label><br>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="addDataProcessingStep()">Continue</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-edit-data-processing-modal" ng-controller="EditDataProcessingModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Data Processing</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" role="form">
                    <div class="form-group">
                        <div><label for="study-name">Timestamp Column</label></div>
                        <div><input class="form-control" type="text" ng-model="timestampColumn"
                                    placeholder="The name of the column in which the timestamp can be found" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Left Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="leftPupilColumn"
                                    placeholder="The name of the column in which the size of the left pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Right Pupil Column</label></div>
                        <div><input class="form-control" type="text" ng-model="rightPupilColumn"
                                    placeholder="The name of the column in which the size of the right pupil can be found"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="study-name">Decimal Separator</label></div>
                        <div><input class="form-control" type="text" ng-model="decimalSeparator"
                                    placeholder="The decimal separator to be used in the output files"
                                    required></div>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="saveDataProcessing()">Save</button>
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-select-pupillometry-file-modal" data-backdrop="static"
     ng-controller="SelectPupillometryFileModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select File</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" role="form">
                    <p>To help with the definition of the data processing, CEP-Web will parse one of your data files to
                        support the selection of the proper trial computation. Please select the file below that you
                        want to parse.</p>
                    <div class="form-group">
                        <div ng-repeat="file in files">
                            <label>
                                <input type="radio" name="selectedFile"
                                       ng-model="$parent.selectedFile.id"
                                       value="{{file.id}}"/>
                                {{file.name}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group cheetah-dialog-button-container">
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn btn-primary" ng-click="showScenes()">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="cheetah-define-trial-modal" data-backdrop="static" ng-controller="DefineTrialController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Define the trials</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="cheetah-section-description">While scanning the selected file, we identified the following
                    scenes.
                </div>
                <table class="cheetah-scene-preview-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Event</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="scene in data.scenes track by $index">
                        <td>{{$index + 1}}</td>
                        <td>{{scene}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="cheetah-section-description">In order to separate the collected data into trials, we need
                    some information on where to cut the data file. Please select the scene that marks the beginning of
                    a trial below.
                </div>

                <form>
                    <div class="form-group">
                        <label for="cheetah-start-trial-select">Start marker for a trial</label>
                        <ui-select ng-model="data.config.trialStart" id="cheetah-start-trial-select" theme="select2"
                                   style="width: 100%"
                                   title="Select the start trial marker">
                            <ui-select-match placeholder="Select the start trial marker">{{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="scene.name as scene in data.aggregatedScenes | filter: {name: $select.search}">
                                <div ng-bind="scene.name"></div>
                                <small>
                                    {{scene.count}} occurrence(s)
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group">
                        <label for="cheetah-use-trial-start-for-trial-end">The end of a trial is the start of the next
                            trial</label>
                        <input type="checkbox" ng-model="data.config.useTrialStartForTrialEnd"
                               id="cheetah-use-trial-start-for-trial-end">
                    </div>
                    <div class="form-group" ng-hide="data.config.useTrialStartForTrialEnd">
                        <label for="cheetah-end-trial-select">End marker for a
                            trial</label>
                        <ui-select ng-model="data.config.trialEnd" id="cheetah-end-trial-select" theme="select2"
                                   style="width: 100%"
                                   title="Select the end trial marker">
                            <ui-select-match placeholder="Select the end trial marker">{{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="scene.name as scene in data.aggregatedScenes | filter: {name: $select.search}">
                                <div ng-bind="scene.name"></div>
                                <small>
                                    {{scene.count}} occurrence(s)
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="form-group">
                        <label>Define the number of trials that should be ignored. For instance, if you have one
                            introduction trial, you may want to enter "1" to ignore the first trial.</label>
                        <input type="text" class="form-control" ng-model="data.config.ignoredTrials">
                    </div>
                    <div class="form-group cheetah-dialog-button-container">
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn" ng-click="previewTrialComputation()">Preview Trials</button>
                        <button class="btn btn-primary" ng-click="showStimulus()"
                                ng-disabled="(!data.config.trialStart) || (data.config.useTrialStartForTrialEnd === false && !data.config.trialEnd)">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-preview-trial-modal" data-backdrop="static" ng-controller="PreviewTrialController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Trial Detection Preview</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="cheetah-section-description">Please carefully inspect whether the detected trials match the
                    trails you expect (total number of trials: {{trials.length}}):
                </div>
                <div ng-hide="notifications.length<1">
                    <div ng-repeat="notification in notifications"
                         class="alert alert-{{notification.type}} cheetah-trial-preview-alert">
                        {{notification.message}}
                    </div>
                </div>
                <div class="cheetah-trial-preview-container">
                    <div ng-repeat="trial in trials">
                        <div><strong>{{trial.name}}</strong></div>
                        <ul>
                            <li ng-repeat="scene in trial.scenes track by $index">{{scene.name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group cheetah-dialog-button-container">
                    <button class="btn" ng-click="backToTrialDefinition()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-define-stimulus-modal" data-backdrop="static" ng-controller="DefineStimulusController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Define the stimulus for the trials</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="cheetah-section-description">We know know where your trials start and where they end. Next,
                    we need to know the actual stimulus you are trying to investigate within those trials. Subsequently,
                    we show you all markers found in the file.
                </div>
                <table class="cheetah-scene-preview-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Event</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="scene in data.scenes track by $index">
                        <td>{{$index +1}}</td>
                        <td>{{scene}}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="cheetah-section-description">Please select the way how stimuli should be detected in the
                    trials. To help you with choosing the proper detection type, a short description of the detection
                    algorithm is displayed below the selected type.
                </div>
                <form>
                    <div class="form-group">
                        <label for="cheetah-stimulus-type-select">Type of stimulus detection</label>
                        <select class="form-control" id="cheetah-stimulus-type-select" ng-model="stimulusDetectionType"
                                ng-options="type.name for type in stimulusDetectionTypes">
                        </select>
                        <div class="cheetah-detection-type-description">{{stimulusDetectionType.description}}</div>
                    </div>

                    <div ng-show="stimulusDetectionType.type === 'default'">
                        <div class="form-group">
                            <label for="cheetah-stimulus-start-select">Marker for the stimulus</label>
                            <ui-select ng-model="data.config.stimulus.stimulusStart" id="cheetah-stimulus-start-select"
                                       theme="select2"
                                       style="width: 100%"
                                       title="Select the start stimulus marker">
                                <ui-select-match placeholder="Select the start stimulus marker">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="scene.name as scene in data.aggregatedScenes | filter: {name: $select.search}">
                                    <div ng-bind="scene.name"></div>
                                    <small>
                                        {{scene.count}} occurrence(s)
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div>
                            <label for="cheetah-stimulus-ends-with-trial-end">Stimulus ends with end of trial</label>
                            <input type="checkbox" ng-model="data.config.stimulus.stimulusEndsWithTrialEnd"
                                   id="cheetah-stimulus-ends-with-trial-end">
                        </div>
                        <div class="form-group" ng-hide="data.config.stimulus.stimulusEndsWithTrialEnd===true">
                            <label for="cheetah-stimulus-end-select">Marker for the stimulus end</label>
                            <ui-select ng-model="data.config.stimulus.stimulusEnd" id="cheetah-stimulus-end-select"
                                       theme="select2"
                                       style="width: 100%"
                                       title="Select the end stimulus marker">
                                <ui-select-match placeholder="Select the end stimulus marker">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="scene.name as scene in data.aggregatedScenes | filter: {name: $select.search}">
                                    <div ng-bind="scene.name"></div>
                                    <small>
                                        {{scene.count}} occurrence(s)
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div ng-show="stimulusDetectionType.type === 'triggered_by_scene'">
                        <div class="form-group">
                            <label for="cheetah-precedes-stimulus-select">Marker for the scene that precedes the
                                stimulus</label>
                            <ui-select ng-model="data.config.stimulus.precedesStimulus"
                                       id="cheetah-precedes-stimulus-select"
                                       theme="select2"
                                       style="width: 100%"
                                       title="Select the stimulus marker">
                                <ui-select-match placeholder="Select the stimulus marker">{{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="scene.name as scene in data.aggregatedScenes | filter: {name: $select.search}">
                                    <div ng-bind="scene.name"></div>
                                    <small>
                                        {{scene.count}} occurrence(s)
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="form-group cheetah-dialog-button-container">
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn" ng-click="previewStimulus()">Preview Stimulus</button>
                        <button class="btn" ng-click="showTrials()">Previous</button>
                        <button class="btn btn-primary" ng-click="showBaseline()"
                                ng-disabled="!validateInput()">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="cheetah-define-baseline-modal" data-backdrop="static" ng-controller="DefineBaselineController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Define a baseline for the trials</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="cheetah-section-description">We know when your trial starts, when it ends, and when you
                    display your Stimulus. Additionally,
                    we could try to establish a baseline for your cognitive load measurement.
                </div>
                <form>
                    <div class="form-group">
                        <label for="cheetah-select-baseline-calculation-type">Computation of Baseline</label>
                        <select class="form-control" id="cheetah-select-baseline-calculation-type"
                                ng-model="data.config.baseline.baselineCalculation" style="width: 100%">
                            <option ng-repeat="calculation in baseLineCalcuationsTypes" value="{{calculation.id}}">
                                {{calculation.label}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group"
                         ng-show="data.config.baseline.baselineCalculation==='baseline-duration-before-stimulus'">
                        <label for="cheetah-baseline-duration-before-stimulus">Duration [ms] prior to the
                            stimulus</label>
                        <input type="text" class="form-control"
                               id="cheetah-baseline-duration-before-stimulus"
                               ng-model="data.config.baseline.durationBeforeStimulus">
                    </div>
                    <div class="form-group cheetah-dialog-button-container">
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn" ng-click="showStimulus()">Previous</button>
                        <button class="btn btn-primary" ng-click="showLoadCalculations()" ng-disabled="!isValid()">
                            Next
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" data-backdrop="static" id="cheetah-progress-modal" ng-controller="ProgressController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body container-fluid">
                <p>{{message}}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-trial-overview-modal" data-backdrop="static" ng-controller="TrialOverviewController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Trial Overview</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="cheetah-section-description">Based on your selection, we were able to identify the following
                    trials.
                </div>
                <form>
                    <div class="form-group">
                        <div><label>Number of identified trials: </label><label
                                ng-bind="data.trialOverview.numberOfTrials"></label></div>
                        <div><label>Number trials containing a stimulus: </label><label
                                ng-bind="data.trialOverview.numberOfTrialsWithStimulus"></label></div>
                        <div><label>Number of trials with stimulus and baseline: </label><label
                                ng-bind="data.trialOverview.numberOfTrialsWithBaseline"></label></div>
                    </div>
                    <div ng-hide="notifications.length<1">
                        <div ng-repeat="notification in data.trialOverview.notifications"
                             class="alert alert-{{notification.type}} cheetah-trial-preview-alert">
                            {{notification.message}}
                        </div>
                    </div>
                    <div class="cheetah-trial-preview-container">
                        <div ng-repeat="trial in data.trialOverview.preview">
                            <div><strong>{{trial.name}}</strong></div>
                            <div ng-hide="trial.notifications.length<1">
                                <div ng-repeat="notification in trial.notifications"
                                     class="alert alert-{{notification.type}} cheetah-trial-preview-alert">
                                    {{notification.message}}
                                </div>
                            </div>
                            <ul>
                                <li ng-repeat="scene in trial.scenes track by $index"
                                    ng-bind-html="renderTrialScene(scene)"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group cheetah-dialog-button-container">
                        <button class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn" ng-click="showBaseline()">Previous</button>
                        <button class="btn btn-primary" ng-click="saveTrialConfiguration()">
                            Save trial computation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cheetah-preview-stimulus-modal" data-backdrop="static" ng-controller="PreviewStimulusController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Stimulus Detection Preview</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="cheetah-section-description">Please carefully inspect whether the detected trials and
                    stimuli match the
                    trails and stimuli you expect (total number of trials: {{trials.length}}):
                </div>
                <div ng-hide="notifications.length<1">
                    <div ng-repeat="notification in notifications"
                         class="alert alert-{{notification.type}} cheetah-trial-preview-alert">
                        {{notification.message}}
                    </div>
                </div>
                <div class="cheetah-trial-preview-container">
                    <div ng-repeat="trial in trials">
                        <div><strong>{{trial.name}}</strong></div>
                        <div ng-hide="trial.notifications.length<1">
                            <div ng-repeat="notification in trial.notifications"
                                 class="alert alert-{{notification.type}} cheetah-trial-preview-alert">
                                {{notification.message}}
                            </div>
                        </div>
                        <ul>
                            <li ng-repeat="scene in trial.scenes track by $index"
                                ng-bind-html="renderTrialScene(scene)"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group cheetah-dialog-button-container">
                    <button class="btn" ng-click="backToStimulusDefinition()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'angular/clean-data/clean-data.htm'"></div>

