<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>org.cheetahplatform.web</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>DIGEST</auth-method>
    <realm-name>myrealm</realm-name>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Private</web-resource-name>
      <url-pattern>/private/*</url-pattern>
      <url-pattern>/app/private/*</url-pattern>
      <url-pattern>/cheetah_content/user_upload/*</url-pattern>
      <url-pattern>/cheetah_content/video/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>administrator</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>administrator</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <resource-ref>
    <description>JDBC Data source</description>
    <res-ref-name>jdbc/cheetahweb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>org.cheetahplatform.web.CheetahServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ProcessInstanceServlet</display-name>
    <servlet-name>ProcessInstanceServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ProcessInstanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessInstanceServlet</servlet-name>
    <url-pattern>/private/processInstances</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MpdServlet</display-name>
    <servlet-name>MpdServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.MpdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MpdServlet</servlet-name>
    <url-pattern>/private/mpd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModelServlet</display-name>
    <servlet-name>ModelServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ModelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelServlet</servlet-name>
    <url-pattern>/private/model</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/private/movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PupilloMetryServlet</display-name>
    <servlet-name>PupilloMetryServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.PupilloMetryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PupilloMetryServlet</servlet-name>
    <url-pattern>/private/pupillometry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PercentileServlet</display-name>
    <servlet-name>PercentileServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.PercentileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PercentileServlet</servlet-name>
    <url-pattern>/private/percentile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InteractionsServlet</display-name>
    <servlet-name>InteractionsServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.InteractionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InteractionsServlet</servlet-name>
    <url-pattern>/private/interactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadDataServlet</display-name>
    <servlet-name>UploadDataServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.UploadDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDataServlet</servlet-name>
    <url-pattern>/private/uploaddata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFilesServlet</display-name>
    <servlet-name>MyFilesServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.MyFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFilesServlet</servlet-name>
    <url-pattern>/private/myfiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationServlet</display-name>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.NotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/private/notifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StepServlet</display-name>
    <servlet-name>StepServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.StepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StepServlet</servlet-name>
    <url-pattern>/private/steps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveNotificationServlet</display-name>
    <servlet-name>SaveNotificationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.SaveNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveNotificationServlet</servlet-name>
    <url-pattern>/private/saveNotification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearNotificationServlet</display-name>
    <servlet-name>ClearNotificationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ClearNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearNotificationServlet</servlet-name>
    <url-pattern>/private/clearNotifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MetricServlet</display-name>
    <servlet-name>MetricServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.MetricServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetricServlet</servlet-name>
    <url-pattern>/private/metrics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/private/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDataServlet</display-name>
    <servlet-name>UserDataServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.UserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataServlet</servlet-name>
    <url-pattern>/private/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPasswordServlet</display-name>
    <servlet-name>SetPasswordServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.SetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPasswordServlet</servlet-name>
    <url-pattern>/private/setPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CleanPupillometryDataServlet</display-name>
    <servlet-name>CleanPupillometryDataServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.CleanPupillometryDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanPupillometryDataServlet</servlet-name>
    <url-pattern>/private/cleanPupillometryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailablePupillometryDataFiltersServlet</display-name>
    <servlet-name>AvailablePupillometryDataFiltersServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.AvailablePupillometryDataFiltersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailablePupillometryDataFiltersServlet</servlet-name>
    <url-pattern>/private/availablePupillometryFilters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSubjectsServlet</display-name>
    <servlet-name>ListSubjectsServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ListSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSubjectsServlet</servlet-name>
    <url-pattern>/private/listSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrimToPpmInstanceServlet</display-name>
    <servlet-name>TrimToPpmInstanceServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.TrimToPpmInstanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrimToPpmInstanceServlet</servlet-name>
    <url-pattern>/private/trimToPpmInstance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectServlet</display-name>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/private/connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserFileServlet</display-name>
    <servlet-name>DeleteUserFileServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.DeleteUserFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserFileServlet</servlet-name>
    <url-pattern>/private/deleteUserFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectVideoToPpmInstance</display-name>
    <servlet-name>ConnectVideoToPpmInstance</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ConnectVideoToPpmInstanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectVideoToPpmInstance</servlet-name>
    <url-pattern>/private/connectVideoToPpmInstance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateAverageLoadForPpmInstance</display-name>
    <servlet-name>CalculateAverageLoadForPpmInstance</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.CalculateAverageLoadForPpmInstanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateAverageLoadForPpmInstance</servlet-name>
    <url-pattern>/private/calculateAverageLoadForPpmInstance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDatabaseConfigurationServlet</display-name>
    <servlet-name>AddDatabaseConfigurationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.AddDatabaseConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDatabaseConfigurationServlet</servlet-name>
    <url-pattern>/private/addDatabaseConfiguration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConfigurationServlet</display-name>
    <servlet-name>DatabaseConfigurationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.DatabaseConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConfigurationServlet</servlet-name>
    <url-pattern>/private/getDatabaseConfigurations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDatabaseConfigurationServlet</display-name>
    <servlet-name>DeleteDatabaseConfigurationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.DeleteDatabaseConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDatabaseConfigurationServlet</servlet-name>
    <url-pattern>/private/deleteDatabaseConfiguration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalyzeDatabaseForSynchronizationServlet</display-name>
    <servlet-name>AnalyzeDatabaseForSynchronizationServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.AnalyzeDatabaseForSynchronizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyzeDatabaseForSynchronizationServlet</servlet-name>
    <url-pattern>/private/analyzeDatabaseForSynchronization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SynchronizeStudiesServlet</display-name>
    <servlet-name>SynchronizeStudiesServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.SynchronizeStudyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SynchronizeStudiesServlet</servlet-name>
    <url-pattern>/private/synchronizeStudies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServerStatusServlet</display-name>
    <servlet-name>ServerStatusServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ServerStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerStatusServlet</servlet-name>
    <url-pattern>/private/serverStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserDataTagsServlet</display-name>
    <servlet-name>AddUserDataTagsServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.AddUserDataTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserDataTagsServlet</servlet-name>
    <url-pattern>/private/addUserDataTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListExperimentActivitiesServlet</display-name>
    <servlet-name>ListExperimentActivitiesServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ListExperimentActivitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListExperimentActivitiesServlet</servlet-name>
    <url-pattern>/private/listExperimentActivities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDefaultUserDataTagsServlet</display-name>
    <servlet-name>GetDefaultUserDataTagsServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.GetDefaultUserDataTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDefaultUserDataTagsServlet</servlet-name>
    <url-pattern>/private/defaultUserDataTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserDataTagsServlet</display-name>
    <servlet-name>RemoveUserDataTagsServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.RemoveUserDataTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserDataTagsServlet</servlet-name>
    <url-pattern>/private/removeUserDataTags</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateAverageLoadForTsvFileServlet</display-name>
    <servlet-name>CalculateAverageLoadForTsvFileServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.CalculateAverageLoadForTsvFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateAverageLoadForTsvFileServlet</servlet-name>
    <url-pattern>/private/calculateAverageLoadForTsvFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWorkItemServlet</display-name>
    <servlet-name>DeleteWorkItemServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.DeleteWorkItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWorkItemServlet</servlet-name>
    <url-pattern>/private/deleteWorkItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveWorkItemToTopServlet</display-name>
    <servlet-name>MoveWorkItemToTopServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.MoveWorkItemToTopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveWorkItemToTopServlet</servlet-name>
    <url-pattern>/private/moveWorkItemToTop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFilesForSubjectServlet</display-name>
    <servlet-name>ListFilesForSubjectServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.ListFilesForSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFilesForSubjectServlet</servlet-name>
    <url-pattern>/private/listFilesForSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsServlet</display-name>
    <servlet-name>SettingsServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.SettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsServlet</servlet-name>
    <url-pattern>/private/settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/private/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWorkItemStatusServlet</display-name>
    <servlet-name>GetWorkItemStatusServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.GetWorkItemStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWorkItemStatusServlet</servlet-name>
    <url-pattern>/private/getWorkItemStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapFilesToSubjectServlet</display-name>
    <servlet-name>MapFilesToSubjectServlet</servlet-name>
    <servlet-class>org.cheetahplatform.web.servlet.MapFilesToSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapFilesToSubjectServlet</servlet-name>
    <url-pattern>/private/mapFilesToSubject</url-pattern>
  </servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteSubjectServlet</display-name>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<servlet-class>org.cheetahplatform.web.servlet.DeleteSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<url-pattern>/private/deleteSubject</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListStudiesServlet</display-name>
		<servlet-name>ListStudiesServlet</servlet-name>
		<servlet-class>org.cheetahplatform.web.servlet.ListStudiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListStudiesServlet</servlet-name>
		<url-pattern>/private/listStudies</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateSubjectServlet</display-name>
		<servlet-name>CreateSubjectServlet</servlet-name>
		<servlet-class>org.cheetahplatform.web.servlet.CreateSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateSubjectServlet</servlet-name>
		<url-pattern>/private/createSubject</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddStudyServlet</display-name>
		<servlet-name>AddStudyServlet</servlet-name>
		<servlet-class>org.cheetahplatform.web.servlet.AddStudyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudyServlet</servlet-name>
		<url-pattern>/private/addStudy</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteStudyServlet</display-name>
		<servlet-name>DeleteStudyServlet</servlet-name>
		<servlet-class>org.cheetahplatform.web.servlet.DeleteStudyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudyServlet</servlet-name>
		<url-pattern>/private/deleteStudy</url-pattern>
	</servlet-mapping>
</web-app>