<div class="container-fluid">
    <h1>Server Status</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>What can I do here?</h4>
            <div class="cheetah-section-description">Cleaning a lot of pupillometric data is a time consuming task. This
                part of CEP-Web shows you how busy CEP-Web is right now. If there are IDLE workers, you can schedule
                your task
                right
                away and it will immeditately be processed. If there is already a lengthy queue for tasks created by you
                or by
                other users, you might need to wait a little until your task is scheduled.
            </div>
            <h4>What is CEP-Web doing right now?</h4>
            <label id="cheetah-serverstatus-workqueuesize" class="alert alert-info">Work Queue Size:
                {{status.workQueueSize}}</label>
            <div class="panel-group" id="cheetah-server-status-cheetah-server-status-accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#cheetah-server-status-accordion"
                               href="#cheetah-work-queue-list">Work Queue</a>
                        </h4>
                    </div>
                    <div id="cheetah-work-queue-list" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div ng-hide="status.workItems.length > 0">
                                <div class="alert alert-info">No work in sight! Hang loose! 😎</div>
                            </div>
                            <div ng-repeat="workItem in status.workItems">
                                <div class="alert {{computeWorkItemClass(workItem.editable)}}">
                                    <span>{{workItem.message}}</span>
                                    <span class="cheetah-server-status-workitem-editable icon-server-status-workitem-cancelable-{{workItem.editable}}"
                                          ng-click="cancelWorkItem(workItem)"></span>
                                    <span class="cheetah-server-status-workitem-editable icon-server-status-workitem-move-to-top-{{workItem.editable}}"
                                          ng-click="moveWorkItemToTop(workItem)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#cheetah-server-status-accordion"
                               href="#worker-list-collapsable">Worker Status</a>
                        </h4>
                    </div>
                    <div id="worker-list-collapsable" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div ng-repeat="worker in status.workers"
                                 class="alert cheetah-server-status-worker-{{worker.status}}">
                                <div class="cheetah-server-status-worker">Worker {{$index + 1}}
                                </div>
                                <div class="cheetah-server-status-worker">{{worker.status}}
                                </div>
                                <div class="cheetah-server-status-worker cheetah-server-status-worker-message">
                                    <span>{{worker.message}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>