<form class="form-horizontal" style="height: 15%">
    <div class="form-group">
        <label for="minDuration" class="col-sm-3 control-label">Minimum Phase Duration (ms)</label>

        <div class="col-sm-3">
            <input type="text" class="form-control" id="minDuration" ng-model="minDuration"
                   ng-change="queryChanged()" ng-model-options="{ debounce: 500 }">
        </div>
        <label for="percentile" class="col-sm-3 control-label">Percentile</label>

        <div class="col-sm-3">
            <select class="form-control" id="percentile" ng-model="percentile"
                    ng-change="queryChanged()">
                <option ng-repeat="percentile in percentiles">{{percentile}}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
    </div>
</form>

<div style="max-height: 85%;">
    <table class="table table-hover table-search">
        <thead>
        <tr>
            <th ng-click="orderBy('start')" class="table-header-sortable">Start</th>
            <th ng-click="orderBy('duration')" class="table-header-sortable">Duration</th>
            <th ng-click="orderBy('average')" class="table-header-sortable">Average</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="phase in phases" ng-click="jumpTo(phase)" class="{{getPhaseClass(phase)}}">
            <td>{{phase.startHumanReadable}}</td>
            <td>{{phase.duration}} ms</td>
            <td>{{phase.average.toFixed(2)}}</td>
        </tr>
        </tbody>
    </table>
</div>