<div class="modal" id="cheetah-clean-data-modal" ng-controller="CleanDataModalController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Clean Pupillometry Data</h4>
            </div>
            <div class="modal-body container-fluid">
                <form data-toggle="validator" id="#columnForm" role="form" ng-submit="cleanPupillometryData()">
                    <div class="form-group">
                        <label for="decimalSeparator">Decimal Separator</label>
                        <input type="text" id="decimalSeparator" class="form-control"
                               placeholder=""
                               ng-model="decimalSeparator" required>
                    </div>

                    <div class="form-group">
                        <label for="decimalSeparator">Filename postfix</label>
                        <div>If your provide a postfix, we will try to extract the subject from the file name (this is
                            possible if your file starts with SUBJECTID@...) and append the postfix. This makes handling
                            large numbers of subjects easier for you. If we can't extract the subject, the post fix will
                            not be used.
                        </div>
                        <input type="text" id="cleanFileNamePattern" class="form-control"
                               placeholder=""
                               ng-model="cleanFileNamePattern">
                    </div>
                    <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filter Parameters</h3>
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="parameter in parameters">
                                <div class="form-group">
                                    <label for="{{parameter.key}}">{{parameter.description}}</label>
                                    <input type="text" id="{{parameter.key}}" class="form-control"
                                           placeholder="{{parameter.description}}"
                                           ng-model="parameter.value" required>

                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-primary pupillometryFilterTable">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Selected Filters</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item selectable"
                                            ng-repeat="filter in filters | filter:{selected:true} | orderBy : 'timestamp'"
                                            ng-click="toggleFilter(filter)">
                                            {{filter.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-primary pupillometryFilterTable">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Available Filters</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item selectable"
                                            ng-repeat="filter in filters | filter:{selected:false} | orderBy : 'timestamp'"
                                            ng-click="toggleFilter(filter)">
                                            {{filter.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="submitColumnsButton" class="btn btn-primary">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>