<div class="cheetah-pupillometry-visualization">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="cheetah-pupillometry-visualization-dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Displayed pupils <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="cheetah-pupillometry-visualization-dropdown">
            <li><input type="checkbox" ng-model="displayedPupils.average"
                       ng-change="renderData()">
                <div class="cheetah-pupillometry-visualization-average"></div>
                <a
                        href="#">Average Pupil Size</a></li>
            <li><input type="checkbox" ng-model="displayedPupils.leftPupil"
                       ng-change="renderData()">
                <div class="cheetah-pupillometry-visualization-left"></div>
                <a
                        href="#">Left Pupil Size</a></li>
            <li><input type="checkbox" ng-model="displayedPupils.rightPupil"
                       ng-change="renderData()">
                <div class="cheetah-pupillometry-visualization-right"></div>
                <a
                        href="#">Right Pupil Size</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="cheetah-interactions-dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Show elements <span class="caret"></span>
        </button>
        <ul class="dropdown-menu  cancel-click"
            aria-labelledby="cheetah-pupillometry-visualization-dropdown">
            <li><label><input type="checkbox" ng-model="interactionTempObject.AND"
                              id="andCheckbox" ng-change="getInteractions()">
                AND
            </label>
                <div></div>
            </li>
            <li><label><input type="checkbox" ng-model="interactionTempObject.XOR"
                              id="xorCheckbox" ng-change="getInteractions()">
                XOR
            </label>
                <div></div>
            </li>
            <li><label><input type="checkbox" ng-model="interactionTempObject.ACTIVITY"
                              id="activityCheckbox" ng-change="getInteractions()">
                Activities
            </label>
                <div></div>
            </li>
            <li><label><input type="checkbox" ng-model="interactionTempObject.SEQUENCE_FLOW"
                              id="sequenceFlowCheckbox" ng-change="getInteractions()">
                Sequence Flow
            </label>
                <div></div>
            </li>
            <li><label><input type="checkbox" ng-model="interactionTempObject.START_EVENT"
                              id="startEventCheckbox" ng-change="getInteractions()">

                Start Point
            </label>
                <div></div>

            </li>
            <li>
                <label><input type="checkbox" ng-model="interactionTempObject.END_EVENT"
                              id="endEventCheckbox" ng-change="getInteractions()">
                    End Point
                </label>
                <div></div>
            </li>
        </ul>
    </div>

    <div class="check">
        <label><input type="checkbox" ng-model="showDuration.show" id="checkBoxShowDuration"
                      ng-change="showDurationOnOff()">
            Show duration of naming-process
        </label>
        <div></div>
    </div>

    <div>
        <button type="button" class="btn btn-default btn-md"
                ng-click="jumpToPreviousTimeframe()">
            <span class=" icon-cheetah-arrow-left" aria-hidden="true"></span>
            Previous Timeframe
        </button>
        <button type="button" class="btn btn-default btn-md"
                ng-click="jumpToNextTimeframe()">
            Next Timeframe <span class="icon-cheetah-arrow-right"
                                 aria-hidden="true"></span>
        </button>
    </div>

    <div>
        <select class="form-control" id="zoom" ng-model="zoomen"
                ng-options="element.text for element in zoomFactor" ng-change="zoomIn()">
            <option value="Choose"></option>
        </select>
    </div>

    <div>
        <select class="form-control" id="circleOrLine" ng-model="selectCircleOrLines"
                ng-options="element.text for element in selectSymbols" ng-change="selectSymbol()">
            <option value="Choose"></option>
        </select>
    </div>

    <div>
        <button type="button"   ng-click="newWindow()">
            OpenWindow
        </button>
    </div>

</div>

<div id="pupillometry" class="aGraph"></div>
<div id="pupillometry-no-data">No eyetracking data available for
    this timeslot.
</div>

</div>
</div>

