<div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">Subject Id</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id" placeholder="Subject Id"
                           ng-model="search.subjectId">
                </div>
            </div>

            <div class="form-group">
                <label for="study" class="col-sm-2 control-label">Study</label>

                <div class="col-sm-10">
                    <select class="form-control" id="study" ng-model="search.study"
                            ng-options="study for study in studies">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div id="cheetah-analyze-button-container">
                <button class="btn btn-default dropdown-toggle" type="button" id="cheetah-analyze-button-analyze"
                        ng-click="analyze()">
                    Visualize Data
                </button>
            </div>
        </div>
    </form>
</div>

<table class="table table-hover table-search">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Study</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="subject in filteredSubjects()" ng-click="setSelection(subject)" class="{{getSubjectClass(subject)}}">
        <td>{{subject.subjectId}}</td>
        <td>{{subject.study.name}}</td>
    </tr>
    </tbody>
</table>


<div class="modal fade" tabindex="-1" role="dialog" id="cheetah-analyze-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Data to Analyze</h4>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" ng-show="processInstancesToAnalyze.length > 0"
                            id="cheetah-analyze-ppm-tab">
                            <a href="#cheetah-analyze-by-ppm" aria-controls="cheetah-analyze-by-ppm" role="tab"
                               data-toggle="tab">Analyze by PPM</a></li>
                        <li role="presentation" id="cheetah-analyze-custom-tab">
                            <a href="#cheetah-analyze-custom" aria-controls="cheetah-analyze-custom" role="tab"
                               data-toggle="tab">Custom Analysis</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="cheetah-analyze-by-ppm"
                             ng-show="processInstancesToAnalyze.length > 0">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Please select the process of process modeling to analyze:</p>
                                    <label ng-repeat="processInstance in processInstancesToAnalyze">
                                        <input type="radio" name="selectedProcessInstance"
                                               ng-model="$parent.selectedProcessInstance.id"
                                               value="{{processInstance.id}}"/>
                                        {{processInstance.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="cheetah-analyze-custom">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p ng-show="filesToAnalyze.length > 0">Please select the data to analyze:</p>
                                    <div id="cheetah-files-to-analyze-container" ng-show="filesToAnalyze.length > 0">
                                        <div ng-repeat="file in filesToAnalyze">
                                            <label>
                                                <input type="checkbox" ng-model="selectedFiles[file.id]"/>
                                                {{file.filename}}
                                            </label>
                                            <br>
                                        </div>
                                    </div>

                                    <div id="cheetah-movies-to-analyze-container" ng-show="moviesToAnalyze.length > 0">
                                        <p>Please select the movie to analyze:</p>
                                        <div ng-repeat="movie in moviesToAnalyze">
                                            <label>
                                                <input type="radio" name="selectedMovie"
                                                       ng-model="$parent.selectedMovie.id"
                                                       value="{{movie.id}}"/>
                                                {{getMovieName(movie)}}
                                            </label><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="analyzeData()">Analyze</button>
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="cheetah-connect-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Files To Prepare</h4>
            </div>
            <div class="modal-body">
                <p>Before data can be analyzed, it needs to be prepared before (e.g., compressing large pupillometry
                    files to speed up analysis). Please select
                    the files you wish to prepare for analysis.</p>
                <form role="form" ng-submit="connectFiles()">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Connect Data to Subject</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="timestampColumnToConnect">Timestamp</label>
                                    <input type="text" id="timestampColumnToConnect" class="form-control"
                                           placeholder="timestamp column name"
                                           ng-model="connectTimestampColumn">
                                </div>
                                <div class="form-group">
                                    <label for="leftPupilColumnToConnect">Left Pupil</label>
                                    <input type="text" id="leftPupilColumnToConnect" class="form-control"
                                           placeholder="left pupil column name"
                                           ng-model="connectLeftPupilColumnName">
                                </div>
                                <div class="form-group">
                                    <label for="rightPupilColumnToConnect">Right Pupil</label>
                                    <input type="text" id="rightPupilColumnToConnect" class="form-control"
                                           placeholder="right pupil column name"
                                           ng-model="connectRightPupilColumnName">
                                </div>
                                <label>Files to Prepare</label>
                                <div ng-repeat="file in candidatesForConnecting">
                                    <label>
                                        <input type="checkbox" ng-model="filesToConnect[file.id]"/>
                                        {{file.filename}}
                                    </label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="connectFiles()">Prepare Files</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="cheetah-wait-for-workers-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Waiting for Workers</h4>
            </div>
            <div class="modal-body">
                <p>Cheetah Web is currently preparing the selected files. Depending on the available computing capacity,
                    this may take some time - please stand
                    by. In case the preparation takes too long, you can leave this page and come back at any time.</p>
                <p>Please also note that you can speed up this process by manually starting the preparation process
                    through Data Management --> My Data. Then,
                    select the files to prepare and click Analyze --> Prepare Data for Analysis.</p>
                <h4>Status of the workers:</h4>
                <ul>
                    <li ng-repeat="worker in workers">{{worker.filename}}: {{worker.status}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="closePrepareModalAndAnalyze()"
                        id="cheetah-repeat-analysis-button">Continue Analysis
                </button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>